.module {
  padding: 10px;
  text-align: center;
  color: #eee;
  max-height: 125px;
  min-width: 125px;
  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}

.container{
  width: 300px;
  height: 300px;
  float: left;
}

.grid-pad {
  margin-left: 220px;
  margin-top: 200px;
  width:400px;
  padding: 10px 0;
}

