

  <ngui-map class="Map" zoom="11" center=""  (idle) = "checkBounds($event)" (mapReady$)="onMapReady($event)">
    <marker   *ngFor="let poi of positions"
              on-mouseover ='changeMarkerColor(poi)'
              on-mouseout = 'changeMarkerColor(null)'
              (click) = infoWindow(poi)
              [position]="[poi.latitude, poi.longitude]"
              [icon] = "{ url : poi == selectedPoi ? 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png' : 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'}"
              (initialized$)="onMarkerInit($event)"
    ></marker>
  </ngui-map>
