

  <ngui-map class="Map" zoom="11" center=""  (idle) = "checkBounds($event)" (mapReady$)="onMapReady($event)">
    <marker   *ngFor="let pos of positions"
              on-mouseover ='changeMarkerColor(pos)'
              on-mouseout = 'changeMarkerColor(null)'
              [position]="[pos.latitude, pos.longitude]"
              [icon] = "{ url : pos == selectedPoi ? 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png' : 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'}"
              (initialized$)="onMarkerInit($event)"
    ></marker>
  </ngui-map>
