.cities li:hover {
  color: deeppink;
  width: 200px;
  font-style: italic;

}

.cities .cityName{
  list-style: none;
  width: 250px;
  background-color: lavenderblush;
  height: 100px;
  font-size: large;
  text-align: center;
  margin-left: 50px;
}

.poi li:hover {
  color: deeppink;
  width: 200px;

}

.poi .poiName{
  list-style: none;
  width: 250px;
  background-color: lavenderblush;
  height: 100px;
  font-size: large;
}

.cities .text {
  position: relative;
  top: -3px;
  color: red;
}


button.delete {
  margin-left: 200px;
  background-color: gray !important;
  color:white;
}
