
a {
  padding: 8px 15px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  max-width: 100px;
}
a:visited, a:link {
  color: #607D8B;
}
a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
a.active {
  color: #039be5;
}


.map{
  position:absolute;
}

.search{
  position:relative;
}

body {
  overflow-x: hidden !important;
}
.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
